<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<header>
  <app-header-signature></app-header-signature>
</header>

    <div class="flex">

    <div class="center">

        <div class="canvas">
        </div>

        <div class="line1"></div>

        <div class="name">
            ROCHE Jean
        </div>

    </div>

    </div>

    <div class="flex1">
        <div class="flex3">
            <a class="delete" href="src/app/portail/portail.component.html" > <img class="image" src="assets/font-icons/icons/erase.png" width="25px" height="25px">Effacer</a>
        </div>
        <div class="flex2">
            <a class="modify" href="add-modify" > <img class="image" src="assets/font-icons/icons/pencil.png" width="25px" height="25px">Modifier mon nom</a>
        </div>
    </div>

   <div class="flex1">
       <div class="flex3">
           <a class="back" href="session" > <img class="image" src="assets/font-icons/icons/back.png" width="25px" height="25px">Retour</a>
       </div>
       <div class="flex2">
           <a class="check" href="session" > <img class="image" src="assets/font-icons/icons/check.png" width="25px" height="25px">Valider</a>
       </div>
   </div>
</body>
</html>
