/*!
 * Icon Font Signature portal
 * Made with love by Icons8 [ https://icons8.com/ ] using webfont [ https://github.com/itgalaxy/webfont ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
  font-family: "Signature portal";
  src: url("../fonts/Signature portal.eot");
  src: url("../fonts/Signature portal.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Signature portal.woff2") format("woff2"),
  url("../fonts/Signature portal.woff") format("woff"),
  url("../fonts/Signature portal.ttf") format("truetype"),
  url("../fonts/Signature portal.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Signature portal";
    src: url("../fonts/Signature portal.svg#Signature portal") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8-icons8-add:before,
.icons8-icons8-add-user-male:before,
.icons8-icons8-attendance:before,
.icons8-icons8-calendar-29:before,
.icons8-icons8-calendar-plus:before,
.icons8-icons8-chat:before,
.icons8-icons8-comments:before,
.icons8-icons8-create:before,
.icons8-icons8-date-span:before,
.icons8-icons8-delete:before,
.icons8-icons8-delivered-box:before,
.icons8-icons8-enter:before,
.icons8-icons8-fast-forward:before,
.icons8-icons8-forward:before,
.icons8-icons8-hand-with-pen:before,
.icons8-icons8-info:before,
.icons8-icons8-marker:before,
.icons8-icons8-minus:before,
.icons8-icons8-notification:before,
.icons8-icons8-pdf:before,
.icons8-icons8-play-button-circled:before,
.icons8-icons8-plus-math:before,
.icons8-icons8-pull-down:before,
.icons8-icons8-questionnaire:before,
.icons8-icons8-send-email:before,
.icons8-icons8-show-property:before,
.icons8-icons8-standing-man:before,
.icons8-icons8-submit-document:before,
.icons8-icons8-test-passed:before,
.icons8-icons8-tick-box:before,
.icons8-icons8-trash:before,
.icons8-icons8-unchecked-checkbox:before,
.icons8-icons8-user:before,
.icons8-icons8-user-account:before,
.icons8-icons8-user-groups:before,
.icons8-icons8-watch:before,
.icons8-icons8-approval:before,
.icons8-icons8-cancel:before,
.icons8-icons8-error:before,
.icons8-icons8-exit:before,
.icons8-icons8-france:before,
.icons8-icons8-left:before,
.icons8-icons8-loading-sign:before,
.icons8-icons8-pencil:before,
.icons8-icons8-plus:before,
.icons8-icons8-reset:before,
.icons8-icons8-save:before,
.icons8-icons8-search:before,
.icons8-icons8-shutdown:before,
.icons8-icons8-spinner:before,
.icons8-icons8-stream:before,
.icons8-icons8-time:before,
.icons8,
[data-icons8]:before {
  display: inline-block;
  font-family: "Signature portal";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


.icons8-icons8-add:before {content: "\f100";}
.icons8-icons8-add-user-male:before {content: "\f101";}
.icons8-icons8-attendance:before {content: "\f102";}
.icons8-icons8-calendar-29:before {content: "\f103";}
.icons8-icons8-calendar-plus:before {content: "\f104";}
.icons8-icons8-chat:before {content: "\f105";}
.icons8-icons8-comments:before {content: "\f106";}
.icons8-icons8-create:before {content: "\f107";}
.icons8-icons8-date-span:before {content: "\f108";}
.icons8-icons8-delete:before {content: "\f109";}
.icons8-icons8-delivered-box:before {content: "\f10a";}
.icons8-icons8-enter:before {content: "\f10b";}
.icons8-icons8-fast-forward:before {content: "\f10c";}
.icons8-icons8-forward:before {content: "\f10d";}
.icons8-icons8-hand-with-pen:before {content: "\f10e";}
.icons8-icons8-info:before {content: "\f10f";}
.icons8-icons8-marker:before {content: "\f110";}
.icons8-icons8-minus:before {content: "\f111";}
.icons8-icons8-notification:before {content: "\f112";}
.icons8-icons8-pdf:before {content: "\f113";}
.icons8-icons8-play-button-circled:before {content: "\f114";}
.icons8-icons8-plus-math:before {content: "\f115";}
.icons8-icons8-pull-down:before {content: "\f116";}
.icons8-icons8-questionnaire:before {content: "\f117";}
.icons8-icons8-send-email:before {content: "\f118";}
.icons8-icons8-show-property:before {content: "\f119";}
.icons8-icons8-standing-man:before {content: "\f11a";}
.icons8-icons8-submit-document:before {content: "\f11b";}
.icons8-icons8-test-passed:before {content: "\f11c";}
.icons8-icons8-tick-box:before {content: "\f11d";}
.icons8-icons8-trash:before {content: "\f11e";}
.icons8-icons8-unchecked-checkbox:before {content: "\f11f";}
.icons8-icons8-user:before {content: "\f120";}
.icons8-icons8-user-account:before {content: "\f121";}
.icons8-icons8-user-groups:before {content: "\f122";}
.icons8-icons8-watch:before {content: "\f123";}
.icons8-icons8-approval:before {content: "\f124";}
.icons8-icons8-cancel:before {content: "\f125";}
.icons8-icons8-error:before {content: "\f126";}
.icons8-icons8-exit:before {content: "\f127";}
.icons8-icons8-france:before {content: "\f128";}
.icons8-icons8-left:before {content: "\f129";}
.icons8-icons8-loading-sign:before {content: "\f12a";}
.icons8-icons8-pencil:before {content: "\f12b";}
.icons8-icons8-plus:before {content: "\f12c";}
.icons8-icons8-reset:before {content: "\f12d";}
.icons8-icons8-save:before {content: "\f12e";}
.icons8-icons8-search:before {content: "\f12f";}
.icons8-icons8-shutdown:before {content: "\f130";}
.icons8-icons8-spinner:before {content: "\f131";}
.icons8-icons8-stream:before {content: "\f132";}
.icons8-icons8-time:before {content: "\f133";}
