<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header>
        <div class="flex-container">
            <div>
                <a href=""><img class="logo" src="assets\font-icons\Logo/SWS.png"alt="sws" width="200px" height="100px"></a>
            </div>
            <div class="dropdown"style="align-self: center">
                <img  class="flag" src="assets\font-icons\icons/fra.png" width="44px" height="30px" >
                <a class="long">Français</a>
                <img  class="triangle" src="assets\font-icons\Logo/tri.png" width="44px" height="30px" >

                <div class="dropdown-content">

                    <a class="color" href="">
                        <div class=drapeau-container ><img src="assets/font-icons/icons/fra.png" class="drapeau" width="44px" height="30px"> Français</div>
                    </a>
                    
                    <a class="color" href="">
                        <div class=drapeau-container><img src="assets/font-icons/icons/uk.jpg" class="drapeau" width="44px" height="30px"> English</div>
                    </a>

                    <a class="color" href="">
                        <div class=drapeau-container><img src="assets/font-icons/icons/spa.jpg" class="drapeau" width="44px" height="30px"> Español</div>
                    </a>

                    <a class="color" href="">
                        <div class=drapeau-container><img src="assets/font-icons/icons/ger.png" class="drapeau" width="44px" height="30px"> Deutsch</div>
                    </a>

                    <a class="color" href="">
                        <div class=drapeau-container><img src="assets/font-icons/icons/ita.png" class="drapeau" width="44px" height="30px"> Italiano</div>
                    </a>

                    <a class="color" href="">
                        <div class=drapeau-container><img src="assets/font-icons/icons/chi.png" class="drapeau" width="44px" height="30px"> 简体中文</div>
                    </a>

                    <a class="color" href="">
                        <div class=drapeau-container><img src="assets/font-icons/icons/ned.png" class="drapeau" width="44px" height="30px"> Nederlands</div>
                    </a>

                    <a class="color" href="">
                        <div class=drapeau-container><img src="assets/font-icons/icons/por.png" class="drapeau" width="44px" height="30px"> Portugues</div>
                    </a>

                </div>

            </div>
        </div>
    </header>
</body>
</html>
