<!doctype html>
<html lang="en">  
  <link rel="icon" type="image/x-icon" href="favicon.ico">


<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body> 
   
  <header>  
    <div class="top">
      <a class="lien" href="session">
      <a><img class="time" src="assets/font-icons/icons/time.png" alt="time logo" width="55px" height="50px"></a>
      <a class="temps">Temps restant: 2:00h</a>
      <a href="" class="button">Fermer </a>
    </a>
    </div>

    <div class="title">
      <a class="white">Conférence Ecosia</a>
    </div>


    <div class="flex-container">

      
      <div class="container">
        <div class="titre">
          <div>Horaires</div>
        </div>
    
        
        <div>
          <div class="bord1">Date</div>
          <div class="textcontainer0">Lundi 18 mai 2020</div>
        </div>

        <div>
          <div class="bord2">Heure début</div>
          <div class="textcontainer1">17:00</div>
        </div>

        <div>
          <div class="bord">Heure de fin</div>
          <div class="textcontainer2">18:00</div>
        </div>
      </div>
    


      <div class="container1">

        <div class="titre">
          <div>Présence</div>
        </div>

        
        <div>
          <div class="margin">Participants</div>
          <div class="grey">
            <img src="https://img.icons8.com/ios/50/000000/groups.png" alt="time logo" width="32px" height="32px">
              <div class="ajust">19</div>
          </div>
        </div>

        <div>
          Présents
          <div class="green">
            <img src="https://img.icons8.com/ios/50/000000/standing-man.png" width="32px" height="32px"/>
            8
          </div>
        </div>

        <div>
          Absents
          <div class="red">
            <img src="https://img.icons8.com/ios/50/000000/standing-man.png" width="32px" height="32px"/>
          <div class="margin">11</div>
          </div>  
        </div>
      </div>
</div>

<app-sessions-active></app-sessions-active>
  </header>
  
</body>
</html>
 
