
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header>
        <app-header-ajout></app-header-ajout>
    </header>

    <div class=dispo1> 
        <form class="search"> 
          
          <button type="submit" class="searchButton">
            <img src="assets/font-icons/icons/search.png" width="25px" height="25px">
         </button>
         <input class="searchTerm" type="text" placeholder="Entrer votre nom de famille" name="search">
         <a href="add-find" class="btn" >
             Ok
         </a>
        </form>
    </div>

    
</body>
</html>



