<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Portail de signature</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

  <div class="participant">

    <div class="top1">
      <div class=dispo2>   
      <div><a href="add-search"><img  class="cal" src="assets/font-icons/icons/plus.png" alt="time logo" width="33px" height="33px"></a>Ajouter un participant</div>
    </div>

    <div class=dispo> 
      <div>Participant</div>
    </div>

    <div class=dispo1> 
      <a class="search"> 
        
        <a class="loop">
        <a href="add-find"  type="submit" class="searchButton">
          <img class="ajust" src="assets/font-icons/icons/search.png" width="25px" height="25px">
       </a></a>
       <input class="searchTerm" type="text" placeholder="Rechercher" name="search">
      </a>

    </div>

    </div>

    <div class="content">
      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            BLONDOT Sylvie
          </div>
          <div class="email">
            bsylviel@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            PICARD Kelya
          </div>
          <div class="email">
            pkelya@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/mis.png" width="94px" height="51px"></a>
          <div class="nom">
            MEUNIER Amélie
          </div>
          <div class="email">
            mamelie@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            ROCHE Elya
          </div>
          <div class="email">
            relya@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            CHANUT Pauline
          </div>
          <div class="email">
            cpauline@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/none.png" width="94px" height="51px"></a>
          <div class="nom">
            MARIE Roméo
          </div>
          <div class="email">
            mromeo@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            ROCHE Raphaël
          </div>
          <div class="email">
            rraphael@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            FABRE Maxence
          </div>
          <div class="email">
            fmaxence@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            CIAN Paul
          </div>
          <div class="email">
            cpaul@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            BERGER Mathys
          </div>
          <div class="email">
            bmathys@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            LE GALL Noélie
          </div>
          <div class="email">
            lnoelie@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            LAURENT Laura
          </div>
          <div class="email">
            llaura@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            DUPLANTY Lucas
          </div>
          <div class="email">
            dlucas@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            FAURE Eléna
          </div>
          <div class="email">
            felena@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            ROUSEEAU Gabin
          </div>
          <div class="email">
            rgabin@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            LEGRAND Inaya
          </div>
          <div class="email">
            linaya@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            CHEVALIER Charlie
          </div>
          <div class="email">
            ccharlie@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" href="sign">
          <button class="tableau">
          <a class="signature"><img src="./assets/font-icons/icons/sign.png" width="55px" height="55px"></a>
          <div class="nom">
            JEAN Flavie
          </div>
          <div class="email">
            jflavie@gmail.com
          </div>
          </button>
        </a>
        </a>
      </div>

  </div>
 </div> 
</html>

