
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header>
        <div class="top">
          <a class="lien" href="session">
            <a><img class="time" src="assets/font-icons/icons/time.png" alt="time logo" width="55px" height="50px"></a>
            <a class="temps">Temps restant: 2:00h</a>
            <a href="" class="button">Fermer </a>
          </a>
        </div>

  <div class="title">
    <a class="white">Conférence Ecosia</a>
  </div>


  <div class="flex-container">

    
    <div class="container">
      <div class="titre">
        <div class="left">Mercredi 18 septembre 2020</div>
        
        <div class="right">18:00-19:00</div>
      </div>
        <div class="line"></div>
      <div>
        <div class="bord">Ajouter un participant</div>
      </div>
    </div>
  
</div>


    </header>
</body>
</html>



