.box-container{
    justify-content: center;
    text-align: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 21px;
}
.box{
    color: #868993;
    margin-bottom: 15px;
    box-shadow: 1px 3px 3px #909090;
    flex-wrap: wrap;
    width: 660px;
    height: 250px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;   
    border-width: 1px;
    text-align: center;
}
.check{
    text-align: center;
    border-style: solid;
    border-color: #009ACE;
    background-color: #ffffff;
    border-radius:  5px;
    border-width: 1px;
    font-size: 16px;
    color: #009ACE;
    padding: 10px 30px;
    text-decoration: none;
}