<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header>
      <app-header-ajout></app-header-ajout>
    </header>
    
    <div></div>
    <div class="blue">
      Vous pouvez modifier au plus 3  lettres dans les noms et prénoms affichés.<br>
      Sinon, il vous faut créer un nouveau participant :
    </div>

    <div class="flex-modify">
    <div class="modify">
        <div>
            <a>
                <a class="lettre">Prénom </a><input class="searchTerm" type="text" value="Jean" name="search">
            </a>
        </div>
        
        <div>
            <a>
                <a class="lettre">Nom</a> <input class="searchTerm" type="text" value="ROCHE" name="search">
            </a>
        </div>
        
        <div>
            <a>
                <a class="lettre">Email</a> 
                <input class="searchTerm" type="email" value="rjean@gmail.com" name="search">
            </a>
        </div>

    </div>
    </div>

   
      <div class="flex">
        <a class="liste" href="session" > <img class="image" src="assets/font-icons/icons/check.png" width="25px" height="25px">Modifier mon profil</a>
    </div>
    

    <div class="flex1">
        <div class="flex2">
            <a class="back" href="add-find" > <img class="image" src="assets/font-icons/icons/back.png" width="25px" height="25px">Retour</a>
        </div>
        <div class="flex2">
            <a class="check" href="add-create" > <img class="image" src="assets/font-icons/icons/add-userb.png" width="25px" height="25px">Créer</a>
        </div>
    </div>

</body>
</html>
