<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Portail de signature</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

  <div class="participant">

    <div class="top1">
      <div class=dispo2>   
      <div><a href="add-search"><img  class="cal" src="assets/font-icons/icons/plus.png" alt="time logo" width="33px" height="33px"></a>Ajouter un participant</div>
    </div>

    <div class=dispo> 
      <div>Participant</div>
    </div>

    <div class=dispo1> 
      <form class="search"> 
        
        <a class="loop">
        <a href="add-find"  type="submit" class="searchButton">
          <img class="ajust" src="assets/font-icons/icons/search.png" width="25px" height="25px">
       </a></a>
       <input class="searchTerm" type="text" placeholder="Rechercher" name="search">
      </form>

    </div>

    </div>

    <div class="content">
      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            BLONDOT Sylvie
          </div>
          <div class="email">
            bsylvie@gmail.com
          </div>
        </a>
        </a>
      </div>
      
      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            PICARD Kelya
          </div>
          <div class="email">
            pkelya@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            MEUNIER Amélie
          </div>
          <div class="email">
            mamelie@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            ROCHE Elya
          </div>
          <div class="email">
            relya@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            CHANUT Pauline
          </div>
          <div class="email">
            cpauline@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            MARIE Roméo
          </div>
          <div class="email">
            mromeo@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            ROCHE Raphaël
          </div>
          <div class="email">
            rraphael@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            FABRE Maxence
          </div>
          <div class="email">
            fmaxence@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            CIAN Paul
          </div>
          <div class="email">
            cpaul@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            BERGER Mathys
          </div>
          <div class="email">
            bmathys@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            LE GALL Noélie
          </div>
          <div class="email">
            lnoelie@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            LAURENT Laura
          </div>
          <div class="email">
            llaura@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            DUPLANTY Lucas
          </div>
          <div class="email">
            dlucas@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            FAURE Eléna
          </div>
          <div class="email">
            felena@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            ROUSSEAU Gabin
          </div>
          <div class="email">
            rgabin@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            LEGRAND Inaya
          </div>
          <div class="email">
            linaya@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            CHEVALIER Charlie
          </div>
          <div class="email">
            ccharlie@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            JEAN Flavie
          </div>
          <div class="email">
            jflavie@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            BOYER Anthony
          </div>
          <div class="email">
            banthony@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            SCHMITT Mathieu
          </div>
          <div class="email">
            smathieu@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            POULAIN Mélanie
          </div>
          <div class="email">
            pmelanie@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            DUFOUR Maxime
          </div>
          <div class="email">
            dmaxime@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            NOEL Faustine
          </div>
          <div class="email">
            nfaustine@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            RENAUD Hugo
          </div>
          <div class="email">
            rhugo@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            HEBERT Charlotte
          </div>
          <div class="email">
            hcharlotte@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            HENRY Sandro
          </div>
          <div class="email">
            hsandro@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            PETIT Marie
          </div>
          <div class="email">
            pmarie@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            MARTINEZ Adèle
          </div>
          <div class="email">
            madele@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            FOURNIER Edouard
          </div>
          <div class="email">
            fedouard@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            ADAM Jules
          </div>
          <div class="email">
            ajules@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            DUPUIS Sohan
          </div>
          <div class="email">
            dsohan@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            GONZALES Hugo
          </div>
          <div class="email">
            ghugo@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            ROUX Lya
          </div>
          <div class="email">
            rlya@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            ROCHE Théo
          </div>
          <div class="email">
            rtheo@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            GUERIN Marie
          </div>
          <div class="email">
            gmarie@gmail.com
          </div>
        </a>
        </a>
      </div>

      <div class="flex-box"> 
        <a class="btn">
        <a class="sign" >
          <div class="nom">
            ROBIN Noam
          </div>
          <div class="email">
            rnoam@gmail.com
          </div>
        </a>
        </a>
      </div>
      

      </div>
  </div>
</html>

